*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body>h1{
    text-align: center;
    margin: 20px 0;
    font-family: Arial, sans-serif;
    color: #333;
}
#tables-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
.card:nth-child(odd){
    border: 1px solid #ccc;
    background-color: #fff;
    font-family: 'Courier New', Courier, monospace;
    font-size: 18.4px;
    border-radius: 8px;
    width: 45%;
    padding: 15px;
    margin: 15px 15px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}
.card:nth-child(even){
    border: 1px solid #ccc;
    background-color: #a1a1a1;
    font-family: 'Courier New', Courier, monospace;
    font-size: 18.4px;
    border-radius: 8px;
    width: 45%;
    padding: 15px;
    margin: 15px 15px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}
.title{
    text-align: center;
    margin-bottom: 10px;
    font-weight: bold;
}